[submodule "pyopencl/compyte"]
	path = pyopencl/compyte
	url = https://github.com/inducer/compyte
[submodule "extern/OpenCL-Headers"]
	path = extern/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
